<h3>All Products</h3>
			<table id="productTable" border="1">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>product id</th>
						<th>product name</th>
						<th>product price</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in products">
						<td>{{$index+1}}.</td>

						<td><span ng-bind="p.productSlnum"></span></td>
						<td><span ng-bind="p.productName"></span></td>
						<td><span ng-bind="p.productPrice"></span></td>

						<td>

							<button type="button">
								<a href="#showProduct/{{p.productSlnum}}">Show</a>
							</button>
							<button type="button" class="btn btn-success custom-width">
								<a href="#editProduct/{{p.productSlnum}}">Edit</a>
							</button>
							<button type="button"
								ng-click="removeProduct($index+1,p.productSlnum)"
								class="btn btn-danger custom-width">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
